/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.interviews-box {
    .item-wrap {
        margin-bottom: 52/18em;
    }
    .item-interview {
        margin-bottom: 24px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .h3-title {
        margin-bottom: 24px;
        max-width: 795/18em;
    }
}
.links-box {
    font-size: 15px;
    line-height: 1.333;
    li {
        margin-bottom: 25px;
    }
}
.activity-box {
    margin-bottom: 0px;
    .items-wrap {
        margin: 0 -23/18em;
    }
    .item-wrap {
        width: 50%;
        padding: 0 23/18em;
        margin-bottom: 95/18em;
    }
}
.pagenav-box {
    background: #EEF2FA;
    border: 1px solid #E4EAF4;
    border-radius: 2px;
    line-height: 1;
    padding: 3px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    .pagenav-outer-wrap {
        display: flex;
    }
    .pagenav-wrap {
        display: flex;
        flex-shrink: 0;
    }
    .pages-select-wrap {
        flex-shrink: 0;
        min-width: 61px;
        margin-left: 5px;
    }
    .pages-wrap {
        display: flex;
        flex-shrink: 0;
        a, span {
            min-width: 27px;
            height: 37px;
            margin: 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            text-align: center;
            font-size: 14px;
            line-height: 16px;
            color: var(--clr-att);
            transition: all ease 0.2s;
            border-radius: 2px;
            border: 1px solid var(--clr-bg);
            color: var(--clr-base);
        }
        a.active, span.active, a:hover {
            background: #fff;
            border-color: #E1EAF5;
            color: var(--clr-base);
        }
    }
    .total-wrap {
        font-size: 14px;
        line-height: 17px;
        padding: 0 3px 0 0;
        flex-shrink: 0;
    }
    .btn-action-ico {
        margin: 0 5px;
        flex-shrink: 0;
    }
    select.form-input {
        height: 37px;
        padding: 0 26px 0 9px;
        font-size: 14px;
        background-position: right 8px center;
    }
}
.table-box {
    margin-bottom: 90px;
    .table-rate-wrap {
        margin: 0 0 16px 0;
        padding: 15px 0 0 0;
        .btn-action-rate {
            min-width: 60px;
            margin: 0 15px 0 0;
        }
    }
    .table-links-wrap {
        margin: 26px 0 0px 0;
        font-size: 14px;
        line-height: 1.33;
        ul {
            columns: 2;
            column-gap: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        li {
            page-break-inside: avoid;
            break-inside: avoid-column;
            margin-bottom: 25px;
        }
    }
    .table-outer-wrap {
        border: 1px solid #E4EAF4;
        border-radius: 2px;
        overflow: hidden;
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin: 0;
            thead {
                th, td {
                    font-weight: bold;
                    background: var(--clr-bg);
                }
                tr {
                    &:last-child {
                        th, td {
                            border-bottom: 1px solid #E4EAF4;
                        }
                    }
                }
            }
            .col {
                width: 212px;
            }
            .col-full {
                width: auto;
            }
            .col-main {
                width: 352px;
            }
            .col-number {
                width: 0;
            }
            th, td {
                font-size: 14px;
                line-height: 17px;
                border: 1px solid #E4EAF4;
                vertical-align: middle;
                padding: 9/14em 19/14em;
                height: 52/14em;
                text-align: left;
                font-weight: 400;
                background: none;
                color: #243041;
                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }
            tr {
                &:nth-child(2n) {
                    th, td {
                        background: var(--clr-bg);
                    }
                }
                &:first-child {
                    th, td {
                        border-top: none;
                    }
                }
                &:last-child {
                    th, td {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .table-actions-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 -12px 6px 0;
        a, button {
            margin: 0 0 0 10px;
        }
    }
    .table-info-wrap {
        margin: 10px 0 0 0;
        font-size: 14px;
        line-height: 1.33;
    }
    .pagenav-box {
        margin-bottom: 0;
        margin-top: 10px;
    }
    .h2-title {
        margin-bottom: 28/27em;
    }
    .search-box {
        margin-bottom: 20px;
    }
}
.search-box {
    margin-bottom: 48px;
    display: flex;
    .form-wrap {
        width: 50%;
        padding: 0 8px 0 0;
    }
    .info-wrap {
        width: 50%;
        padding: 0 0 0 40px;
        font-size: 13px;
        line-height: 19/13;
    }
}
.contacts-box {
    margin-bottom: 20px;
    .items-wrap {
        margin: 0 -8px;
    }
    .item-wrap {
        padding: 0 8px;
        width: 33.33%;
    }
    .item-cnt {
        margin-bottom: 40px;
    }
}
.main-form-box {
    padding-top: 62px;
    padding-bottom: 72px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    &:last-child {
        margin-bottom: 0;
    }
    .info-wrap {
        padding: 0 0 0 42/18em;
        position: relative;
        margin: 0 0 1.9em 0;
        line-height: 28/18;
        &:last-child {
            margin-bottom: 0;
        }
        .elm-ico {
            width: 24/18em;
            height: 24/18em;
            position: absolute;
            top: 5/18em;
            left: 0;
        }
    }
    .form-desc-wrap,
    .form-info-wrap {
        width: 50%;
        flex-shrink: 0;
        padding: 0 78px 0 0;
    }
    .form-desc-wrap {
        font-size: 16px;
        line-height: 21/16;
        .h3-title {
            margin-bottom: 22/16em;
        }
        ol, ul, p {
            margin-bottom: 24px;
        }
    }
    .form-wrap {
        width: 50%;
        flex-shrink: 0;
        padding: 0 0 0 8px;
    }
    .frm-row, .frm-row-submit {
        margin: 0 -8px;
    }
    .frm-row-submit {
        .frm-field {
            margin: 0;
        }
        .btn {
            width: 100%;
        }
    }
    .frm-field {
        padding: 0 8px;
        width: 50%;
        flex-shrink: 0;
        margin-bottom: 14px;
    }
    .field-full {
        width: 100%;
    }
    .submit-info {
        padding: 24px 8px 0 8px;
        width: 100%;
        font-size: 11px;
        line-height: 13px;
    }
    textarea {
        height: 219px;
    }
    .h2-title {
        margin-bottom: 2em;
    }
    .h3-title {
        margin: 0 0 0.25em 0;
        font-size: 1em;
    }
    &>.h2-title {
        width: 100%;
        margin-bottom: 24/27em;
    }
    p {
        margin: 0;
    }
    .item-info-ico {
        margin: 37px 0 0 0;
        height: auto;
        max-width: 340/15em;
        width: 100%;
    }
}
.tiles-numbers-box {
    margin: 0 0 80px 0;
    background: var(--clr-bg);
    padding-top: 36px;
    padding-bottom: 6px;
    position: relative;
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
    	background: var(--clr-bg);
    }
    &:before {
    	left: auto;right: 100%;
    }
    .h3-title {
        margin-bottom: 1.3em;
    }
    .items-wrap {
        margin: 0 -8px;
    }
    .item-wrap {
        width: 33.33%;
        margin-bottom: 36px;
        padding: 0 8px;
    }
    .item-number {
        max-width: 260px;
    }
}
.logos-slider-box {
    margin-bottom: 88px;
    .slider-wrap {
        margin: 0 -8px;
    }
    .slider {
        line-height: 0;
    }
    .sl-wrap {
        padding: 0 8px;
    }
}
.timer-box {
    background: var(--clr-bg);
    position: relative;
    padding-top: 42px;
    padding-bottom: 55px;
    margin-bottom: 60px;
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
    	background: var(--clr-bg);
    }
    &:before {
    	left: auto;right: 100%;
    }
    .timer-subtitle {
        font-size: 14px;
        line-height: 1.33;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        margin-bottom: 11px;
        font-weight: bold;
        text-align: center;
    }
    .h2-title {
        margin: 0 auto 22px auto;
        text-align: center;
        max-width: 540/30em;
        line-height: 1.33;
    }
    .timer-inner-title {
        font-size: 18px;
        line-height: 1.33;
        text-align: center;
        font-weight: 400;
        margin: 0 0 11px 0;
    }
    .timer-wrap {
        display: flex;
        justify-content: center;
        .timer-count-wrap {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            margin: 0 18px;
            width: 92px;
            height: 111px;
            text-align: center;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 1.33;
            text-align: center;
            flex-direction: column;
            font-weight: bold;
            letter-spacing: 0.125em;
            background: #fff;
            flex-shrink: 0;
            span {
                display: block;
                width: 100%;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: normal;
                font-weight: bold;
            }
        }
    }
}
.main-top-box {
    background-color: #9FBFE8;
    color: #fff;
    position: relative;
    overflow: hidden;
    .top-title {
        font-size: 2em;
        line-height: 40/36;
        color: #fff;
        font-weight: bold;
        margin: 0;
    }
    .col-12 {
        padding-top: 0px;
        padding-bottom: 40px;
        min-height: 280px;
        display: flex;
        flex-direction: column;
    }
    .breadcrumbs-box {
        margin: 0;
        flex: inherit;
        flex-shrink: 0;
        width: 100%;
        padding: 12px 0 0 0;
        color: #fff;
        li {
            &>a, &>span {
                color: #fff;
                &:hover {
                    color: #fff;
                }
            }
            &:last-child {
                &>a, &>span {
                    color: #fff;
                }
            }
        }
    }
    .top-title-wrap {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .top-pic-wrap {
        position: absolute;
        bottom: 0;
        right: 5.3%;
        width: 264/18em;
        line-height: 1;
        img {
            display: block;
            width: 100%;
        }
    }
}
.info-box {
    margin-bottom: 40px;
    .items-wrap {
        margin: 0 -8px;
    }
    .item-wrap {
        padding: 0 8px;
        margin-bottom: 16px;
    }
    .item-info-ico {
        max-width: 390/15em;
        &.info-large {
            max-width: 592/15em;
        }
        &.info-left {
            margin: 0;
        }
    }
}
.gallery-slider-box {
    background: var(--clr-bg);
    padding: 36px 0;
    position: relative;
    margin-bottom: 74px;
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
    	background: var(--clr-bg);
    }
    &:before {
    	left: auto;right: 100%;
    }
    .slider-wrap {
        margin: 0 -8px;
        padding: 0 0 56px 0;
        position: relative;
    }
    .slider {
        line-height: 0;
    }
    .sl-wrap {
        padding: 0 8px;
    }
    .item-photo {
        border: 10px solid #E0E6F1;
        border-radius: 2px;
        transition: border-color ease 0.2s;
        &:hover {
            border-color: var(--clr-att);
        }
    }
    .ico-arrow {
        position: absolute;
        bottom: -56px;
        left: 8px;
    }
    .ico-arrow-next {
        margin-left: 53px;
    }
}
.article-box {
    margin-bottom: 0px;
    display: block;
    position: relative;
    columns: 2;
    column-gap: 46px;
    line-height: 24/18;
    &:last-child {
        margin-bottom: 35px;
    }
    &.article-bg {
        background: var(--clr-bg);
        padding: 45px 0 0 0;
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 60px;
        }
        &:before, &:after {
        	content: "";
        	display: block;
        	width: 9999px;
        	position: absolute;
        	top: 0;bottom: 0;left: 100%;
        	background: var(--clr-bg);
        }
        &:before {
        	left: auto;right: 100%;
        }
    }
    .article-section {
        margin-bottom: 60/18em;
        &.section-small {
            font-size: 14px;
            line-height: 18/14em;
            margin-bottom: 40px;
            p, li, ul, .ul-list, .ul-arrow {
                margin: 0;
                font-size: 1em;
            }
            .h2-title, h2 {
                font-size: 18px;
                margin-bottom: 1.4em;
            }
        }
        &.section-short {
            margin-bottom: 24px;
            li {
                margin-bottom: 0;
            }
        }
    }
    .article-section, ul, ol, h2, .h2-title, h3, .h3-title, h4, .h4-title {
        page-break-inside: avoid;
        break-inside: avoid-column;
    }
    .h2-title, h2 {
        margin: 0 0 18/27em 0;
    }
    h3, .h3-title {
        &.title-small {
            margin-bottom: 1.35em;
        }
    }
    .ol-numbers {
        li {
            margin-bottom: 24/18em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .ul-arrows {
        padding-top: 10px;
        &:first-child {
            padding-top: 0;
        }
        li {
            margin-bottom: 27/15em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .ul-list {
        li {
            margin-bottom: 24/18em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    p, ul {
        margin: 0 0 24/18em 0;
    }
}
.slider-title-box {
    display: flex;
    align-items: center;
    margin: 0 0 22px 0;
    .h2-title {
        line-height: 32/27;
        margin-bottom: 0;
    }
    .title-wrap {
        margin: 0 34px 0 0;
    }
    .actions-wrap {
        width: 56px;
        line-height: 1;
        display: flex;
        justify-content: space-between;
    }
}
.tiles-box {
    margin: 0 0 25px 0;
    .items-wrap {
        margin: 0 -8px;
    }
    .item-wrap {
        padding: 0 8px;
        margin-bottom: 25px;
        width: 33.33%;
    }
}
.tiles-icons-box {
    margin-bottom: 0;
    background: var(--clr-att);
    position: relative;
    color: #fff;
    padding-top: 32px;
    padding-bottom: 37px;
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
    	background: var(--clr-att);
    }
    &:before {
    	left: auto;right: 100%;
    }
    .slider-wrap {
        position: relative;
        z-index: 2;
        margin: 0 -8px;
    }
    .slider {
        line-height: 0;
    }
    .sl-wrap {
        padding: 0 8px;
    }
    .h2-title {
        color: inherit;
    }
}
.teams-slider-box {
    margin: 0 0 62px 0;
    .slider-wrap {
        margin: 0 -8px;
    }
    .sl-wrap {
        padding: 0 8px;
    }
    .slider {
        line-height: 0;
    }
}
.teams-box {
    font-size: 18px;
    margin-bottom: 20px;
    .items-main-wrap {
        .item-wrap {
            padding: 0;
        }
    }
    .item-wrap {
        margin-bottom: 50px;
        padding: 0 8px;
        width: 100%;
    }
    .items-wrap {
        margin: 0 -8px;
    }
}
.breadcrumbs-box {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
    color: var(--clr-base);
    padding-top: 12px;
    ol {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -40px 0 0;
        list-style-type: none;
    }
    li {
        margin: 0 40px 0 0;
        padding: 0;
        &:before {
            display: none;
        }
        &>a, &>span {
            display: block;
            position: relative;
            text-decoration: none;
            color: #A4A9B3;
            &:hover {
                color: var(--clr-base);
            }
            &:before {
                content: "/";
                display: block;
                width: 40px;
                position: absolute;
                top: 0;
                left: 100%;
                text-align: center;
            }
        }
        &:last-child {
            &>a, &>span {
                color: var(--clr-base);
                &:before {
                    display: none;
                }
            }
        }
    }
}
.lead-box {
    margin-bottom: 48px;
    line-height: 32/24;
    p, .h3-title, ul {
        margin-bottom: 32/24em;
    }
    .js-text-hidden {
        margin-bottom: 32/24em;
    }
    .text-lead {
        margin-bottom: 22/24em;
    }
    .section-columns {
        margin: 50px 0 50px 0;
        overflow: hidden;
        li {
            margin-bottom: 25/15em;
        }
    }
    ul.section-columns {
        li {
            page-break-inside: avoid;
            break-inside: avoid-column;
        }
    }
    .article-section {
        &.section-small {
            .h2-title {
                
            }
        }
    }
}
.files-slider-box {
    margin-bottom: 48px;
    .slider-wrap {
        margin: 0 -8px;
    }
    .sl-wrap {
        padding: 0 8px;
    }
    .slider {
        line-height: 0;
    }
}
.files-box {
    margin-bottom: 48px;
    .items-wrap {
        margin: 0 -8px;
    }
    .item-wrap {
        margin-bottom: 16px;
        padding: 0 8px;
    }
    .btn-action-more {
        font-size: 14px;
        margin-top: -16px;
    }
    .more-wrap {
        &.more-center {
            display: flex;
            justify-content: center;
            padding: 24px 0 0 0;
            .btn-action-more {
                font-size: 13px;
                margin: 0;
                min-width: 206px;
            }
        }
    }
}
.directions-box {
    border-radius: 2px;
    background: var(--clr-bg);
    padding: 27px 30px 40px 30px;
    margin-bottom: 48px;
    display: block;
    position: relative;
    .slider {
        line-height: 0;
    }
    .slider-wrap, .slider {
        position: static;
    }
    .slider-wrap {
        margin: 0 -15px;
    }
    .sl-wrap {
        padding: 0 15px;
    }
    .h3-title {
        margin-bottom: 22px;
        padding-right: 55px;
    }
    .btn-action-ico.ico-arrow {
        background: #D3DDF2;
        position: absolute;
        top: 20px;
        right: 20px;
        &:hover {
            background: #D3DDF2 - #111;
        }
    }
    .btn-action-ico.ico-arrow-prev {
        margin-right: 31px;
    }
}
.main-slider-box {
    background: #a1d9ff;
    margin-bottom: 40px;
    .slider-wrap {
        position: relative;
        overflow: hidden;
    }
    .slider-bottom-wrap {
        position: relative;
        margin: 0 -7.5px;
    }
    .doc-wrap {
        display: none;
    }
    .btn-action-more {
        height: 127px;
    }
    .slider {
        line-height: 0;
    }
    .sl-wrap {
        position: relative;
        overflow: hidden;
        min-height: 540px;
        padding: 40px 0px 322px 0px;
    }
    .sl-text-wrap {
        font-size: 16px;
        line-height: 1.4;
        display: block;
        letter-spacing: normal;
        position: relative;
        z-index: 2;
        max-width: 436/20em;
    }
    .sl-title {
        font-size: 41px;
        line-height: 42px;
        letter-spacing: normal;
        font-weight: bold;
        margin: 0 0 27px 0;
        color: var(--clr-att);
    }
    .sl-photo {
        display: block;
        position: absolute;
        bottom: -100px;
        left: 50%;
        width: 1256px;
        transform: translate(-61%, 0);
    }
    .slick-dots {
        position: absolute;
        bottom: 259px;
        left: -4px;
        right: -4px;
        z-index: 2;
        text-align: left;
        padding: 0;
    }
}
.info-slider-box {
    margin-bottom: 48px;
    .slick-list {
        background: var(--clr-att);
        position: relative;
        border-radius: 2px;
    }
    .slider-wrap {
        position: relative;
    }
    .slider {
        line-height: 0;
    }
    .slick-dots {
        padding: 22px 0 0 0;
    }
    .sl-wrap {
        display: block;
        position: relative;
        overflow: hidden;
        padding: 34px 62px 0 32px;
    }
    .sl-title {
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        font-weight: bold;
        margin: 0;
        text-align: left;
        padding: 0 0 30px 0;
    }
    .sl-pic-wrap {
        line-height: 1;
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 270px;
        img {
            display: block;
            width: 100%;
        }
    }
}
.top-menu-box {
    margin-bottom: 80px;
    position: relative;
    line-height: 1;
    .items-wrap {
        background: var(--clr-bg);
        margin: 0 -8px;
    }
    .item-wrap {
        width: 33.33%;
        &:last-child {
            .item-tile {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}
.page-menu-box {
    margin-bottom: 63px;
    padding-top: 10px;
    padding-left: 8.5px;
    padding-right: 8.5px;
    line-height: 1;
    ul {
        margin: 0 -15px 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    li {
        margin: 0 15px 13px 0;
        padding: 0;
        &:before {
            display: none;
        }
    }
}
.tiles-slider-box {
    background: var(--clr-bg);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    margin-bottom: 50px;
    .slick-track {
        display: flex;
        &:before, &:after {
            display: none;
        }
        .slick-slide {
            min-height: 100%;
            float: none;
            height: auto;
            &>div {
                min-height: 100%;
                display: flex;
            }
        }
        .sl-wrap {
            display: flex !important;
            width: 100%;
            min-height: 100%;
        }
    }
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
        background: var(--clr-bg);
    }
    &:before {
    	left: auto;right: 100%;
    }
    .slider-wrap {
        margin: 0 -16px;
        position: relative;
        z-index: 3;
    }
    .sl-wrap {
        padding: 0 16px;
        align-items: center;
    }
    .item-tile {
        width: 240px;
    }
    .tile01 {
        width: 210px;
    }
    .tile02 {
        width: 220px;
    }
    .tile03 {
        width: 320px;
    }
    .slick-list {
        overflow: visible;
    }
}
.news-box {
    margin-bottom: 30px;
    .items-wrap {
        margin: 0 -15px;
    }
    .item-wrap {
        width: 100%;
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .more-wrap {
        padding-bottom: 30px;
    }
}
.news-slider-box {
    margin-bottom: 56px;
    .slider-wrap {
        margin: 0 -16px;
    }
    .slick-list {
        overflow: visible;
    }
    .sl-wrap {
        padding: 0 16px;
    }
    .item-new {
        width: 253px;
    }
    .ico-arrow {
        position: absolute;
        top: -72px;
        right: 16px;
    }
    .ico-arrow-prev {
        margin-right: 54px;
    }
    .more-wrap {
        margin-top: 20px;
    }
}
.actions-title-box {
    margin: 0 0 29px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .title-wrap {
        padding: 0 32px 0 0;
        &:last-child {
            padding: 0;
        }
    }
    .action-wrap {
        display: block;
        padding: 0 0 3px 0;
    }
    .h1-title {
        margin: 0;
    }
}
.bg-box {
    position: relative;
    overflow: visible;
    background: var(--clr-bg);
    &:before, &:after {
    	content: "";
    	display: block;
    	width: 9999px;
    	position: absolute;
    	top: 0;bottom: 0;left: 100%;
    	background: var(--clr-bg);
    }
    &:before {
    	left: auto;right: 100%;
    }
}
@media (max-width: 1199px) {
    .article-box {
        column-gap: 30px;
    }
    .tiles-box {
        .item-wrap {
            width: 50%;
        }
    }
}
@media (max-width: 991px) {
    .activity-box {
        .item-wrap {
            margin-bottom: 50px;
        }
    }
    .table-box {
        .table-links-wrap {
            ul {
                columns: 1;
            }
        }
        .table-outer-wrap {
            overflow: auto;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
            table {
                width: 943px;
            }
        }
    }
    .search-box {
        display: block;
        .form-wrap {
            padding: 0;
            margin-bottom: 24px;
            width: 100%;
            max-width: 500px;
        }
        .info-wrap {
            padding: 0;
            width: 100%;
            max-width: 500px;
        }
    }
    .top-menu-box {
        .item-wrap {
            width: 100%;
        }
        .item-tile {
            &.tile-button {
                &:before {
                    width: 40px;
                    height: 4px;
                    left: 50%;
                    top: 100%;
                    margin-top: -2px;
                    margin-left: -20px;
                }
            }
        }
    }
    .main-form-box {
        display: block;
        .form-desc-wrap,
        .form-info-wrap {
            padding: 0;
            width: 100%;
            margin-bottom: 2em;
        }
        .form-wrap {
            width: 100%;
            padding: 0;
        }
        .frm-field {
            margin-bottom: 10px;
        }
    }
    .gallery-slider-box {
        .item-photo {
            border-width: 5px;
        }
    }
}
@media (max-width: 767px) {
    .pagenav-box {
        padding-left: 9px;
        padding-right: 9px;
    }
    .contacts-box {
        .item-wrap {
            width: 100%;
        }
    }
    .tiles-box {
        .item-wrap {
            width: 100%;
        }
    }
    .article-box {
        columns: 1;
    }
    .main-top-box {
        .top-pic-wrap {
            right: -10%;
        }
    }
    .timer-box {
        .timer-wrap {
            .timer-count-wrap {
                margin: 0 5px;
                width: 70px;
                font-size: 10px;
            }
        }
    }
}
@media (max-width: 575px) {
    .activity-box {
        .item-wrap {
            width: 100%;
        }
    }
    .pagenav-box {
        flex-direction: column;
        align-items: center;
        .pagenav-outer-wrap {
            display: block;
        }
        .pages-select-wrap {
            width: auto;
            padding: 0 5px;
            margin: 10px 0 0 0;
        }
        .total-wrap {
            padding: 10px 0;
            width: 100%;
            text-align: center;
        }
        .pages-wrap {
            a, span {
                margin: 0 2px;
            }
        }
    }
    .main-form-box {
        .frm-field {
            width: 100%;
        }
        .frm-row-submit {
            flex-direction: column;
            .frm-field {
                margin-bottom: 10px;
                order: 2;
                &+.frm-field {
                    order: 1;
                }
            }
            .submit-info {
                order: 3;
                padding-top: 0;
            }
        }
    }
    .tiles-numbers-box {
        .item-wrap {
            width: 100%;
        }
        .item-number {
            max-width: 100%;
        }
    }
    .main-top-box {
        .top-pic-wrap {
            display: none;
        }
    }
}
@media (min-width: 576px) {
    .main-slider-box {
        .slick-dots {
            left: 50%;
            right: 50%;
            margin-right: -265px;
            margin-left: -275px;
        }
    }
    .teams-box {
        .item-wrap {
            width: 50%;
        }
        .items-main-wrap {
            .item-wrap {
                width: 100%;
            }
        }
    }
}
@media (min-width: 768px) {
    .teams-box {
        .item-wrap {
            width: 33.33%;
        }
    }
    .files-box {
        .item-wrap {
            width: 33.33%;
        }
        .wrap-2 {
            width: 50%;
        }
        .wrap-4 {
            width: 50%;
        }
    }
    .main-slider-box {
        .slick-dots {
            margin-right: -362px;
            margin-left: -362px;
        }
    }
    .news-box {
        .item-wrap {
            width: 50%;
        }
    }
}
@media (min-width: 992px) {
    .side-wrap {
        .links-box {
            margin-right: 0;
            margin-left: -30px;
        }
    }
    .main-form-box {
        &.desc-right {
            .form-wrap {
                order: 1;
                padding-left: 0;
                padding-right: 8px;
            }
            .form-info-wrap, 
            .form-desc-wrap {
                order: 2;
                padding-right: 0;
                padding-left: 38px;
            }
        }
    }
    .lead-box {
        &.lead-columns {
            columns: 2;
            column-gap: 16px;
            p, ul {
                page-break-inside: avoid;
                break-inside: avoid-column;
            }
        }
        .section-small {
            font-size: 15px;
        }
        .section-vsmall {
            font-size: 14px;
            line-height: 19.5/14;
        }
        .section-columns {
            columns: 2;
            column-gap: 16px;
        }
    }
    .article-box {
        .ul-arrows {
            font-size: 15px;
        }
    }
    .teams-box {
        .items-outer-wrap {
            display: flex;
        }
        .items-main-wrap {
            width: 35%;
            padding: 0 32px 0 0;
            flex-shrink: 0;
        }
        .items-inner-wrap {
            width: 65%;
            flex-shrink: 0;
        }
    }
    .content-outer-wrap {
        display: flex;
    }
    .content-wrap {
        flex: 1;
        padding: 0 46px 0 0;
        max-width: calc(100% - 258px);
        .article-box {
            columns: 1;
        }
    }
    .side-wrap {
        width: 258px;
        flex-shrink: 0;
        .side-title {
            margin-bottom: 0;
        }
        .news-box {
            .item-wrap {
                width: 100%;
                padding-bottom: 12px;
                padding-top: 18px;
                margin-bottom: 0;
                border-bottom: 1px solid #D4DDEF;
                padding-left: 15px;
                padding-left: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .items-wrap {
                margin: 0;
                border-top: 1px solid #D4DDEF;
            }
            .item-new {
                font-size: 16px;
                line-height: 1.33;
                .new-tags {
                    margin-top: 12px;
                }
            }
        }
    }
    .main-slider-box {
        background: #94d0fe;
        margin-bottom: 66px;
        .slider-bottom-wrap {
            margin-top: -42px;
            position: relative;
            z-index: 5;
            .col-12 {
                display: flex;
                justify-content: flex-end;
            }
        }
        .more-wrap {
            width: 44%;
            flex-shrink: 0;
            position: static;
            margin-top: 42px;
        }
        .doc-wrap {
            width: 28%;
            flex-shrink: 0;
            display: block;
            position: relative;
            &:before {
                content: "";
                display: block;
                width: 3px;
                height: 64px;
                position: absolute;
                top: 50%;
                left: 100%;
                margin-left: -1px;
                margin-top: -32px;
                background: #DEE5F2;
                z-index: 3;
            }
            &:last-child {
                &:before {
                    display: none;
                }
            }
        }
        .slick-dots {
            margin-right: -492px;
            margin-left: -492px;
        }
        .sl-wrap {
            min-height: 540px;
            padding-top: 126px;
            padding-bottom: 100px;
        }
        .sl-text-wrap {
            font-size: 20px;
            line-height: 1.48;
            &:before {
                content: "";
                display: block;
                width: 580px;
                height: 580px;
                border-radius: 50%;
                background: #B4E2FF;
                filter: blur(100px);
                position: absolute;
                top: -20px;
                left: 50%;
                margin-left: -350px;
            }
        }
        .sl-title {
            font-size: 50px;
            line-height: 52px;
            margin-bottom: 31px;
            position: relative;
            z-index: 2;
        }
        .sl-text {
            position: relative;
            z-index: 2;
        }
        .sl-photo {
            width: 1600px;
            right: auto;
            left: 50%;
            margin-left: -800px;
            bottom: -68px;
            transform: none;
        }
        .slick-dots {
            bottom: 40px;
            li {
                margin: 0 8px;
                button {
                    width: 32px;
                    height: 32px;
                    &:before {
                        width: 14px;
                        height: 14px;
                    }
                    &:after {

                    }
                }
            }
        }
        .btn-action-more {
            &.more-main {
                width: 100%;
                height: 100%;
                position: static;
                justify-content: flex-start;
                .button-inner {
                    position: absolute;
                    top: calc(50% + 21px);
                    left: 50%;
                    margin-left: -475px;
                    margin-top: -15px;
                }
            }
        }
    }
    .info-slider-box {
        margin-bottom: 66px;
        .sl-wrap {
            padding: 46px 50% 100px 32px;
            min-height: 222px;
        }
        .sl-title {
            font-size: 30px;
            line-height: 36px;
            padding: 0;
        }
        .slick-dots {
            position: absolute;
            bottom: 57px;
            left: 26px;
            right: 50%;
            padding: 0;
            text-align: left;
            li {
                margin: 0 26px 0 0;
                button {
                    &:before {
                        background: #4890CF;
                    }
                    &:after {
                        border-color: #fff;
                    }
                    &:hover {
                        &:before {
                            background: #fff;
                        }
                    }
                }
            }
            .slick-active {
                button {
                    &:before {
                        background: #fff;
                    }
                }
            }
        }
        .sl-pic-wrap {
            position: absolute;
            bottom: 0;
            right: 15%;
            left: auto;
            margin: 0;
            top: 0;
            img {
                margin: auto auto 0 auto;
                display: block;
                width: 100%;
                max-width: 100%;
                max-height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }
    .page-menu-box {
        margin-top: 30px;
        margin-bottom: 0;
        padding-top: 12px;
        padding-bottom: 0;
        background: var(--clr-att);
        position: relative;
        &:before, &:after {
        	content: "";
        	display: block;
        	width: 9999px;
        	position: absolute;
        	top: 0;bottom: 0;left: 100%;
        	background: var(--clr-att);
        }
        &:before {
        	left: auto;right: 100%;
        }
        ul {
            margin: 0 -8px;
            overflow: hidden;
            justify-content: center;
        }
        li {
            margin: 0 8px 12px 8px;
        }
    }
    .news-box {
        .item-wrap {
            width: 33.33%;
        }
    }
    .news-slider-box {
        margin-bottom: 66px;
        .item-new {
            width: 100%;
        }
        .slick-list {
            overflow: hidden;
        }
        .slider-outer-wrap {
            position: relative;
            //overflow: hidden;
        }
    }
    .actions-title-box {
        margin-bottom: 32px;
        .action-wrap {
            padding-bottom: 4px;
        }
        .title-wrap {
            padding-right: 57px;
        }
    }
    .files-box {
        .wrap-4 {
            width: 25%;
        }
    }
}
@media (min-width: 1200px) {
    .timer-box {
        .h2-title {
            font-size: 30px;
        }
    }
    .gallery-slider-box {
        .slider-wrap {
            margin: 0 -26px;
        }
        .sl-wrap {
            padding: 0 26px;
        }
        .ico-arrow {
            left: 26px;
        }
    }
    .teams-box {
        .items-main-wrap {
            width: 382px;
            padding-right: 94px;
        }
        .items-inner-wrap {
            width: auto;
            flex: 1;
            max-width: calc(100% - 382px);
        }
        .items-wrap {
            margin: 0 -47px;
            .item-wrap {
                padding: 0 47px;
            }
        }
    }
    .directions-box {
        padding-right: 80px;
    }
    .main-slider-box {
        .slick-dots {
            margin-left: -615px;
            margin-right: -615px;
        }
        .btn-action-more {
            &.more-main {
                .button-inner {
                    margin-left: -600px;
                }
            }
        }
    }
    .teams-slider-box {
        .item-team {
            max-width: 210px;
        }
    }
    .tiles-slider-box {
        margin-bottom: 66px;
        pointer-events: none;
        .tile01 {
            width: 280px;
            padding-right: 50px;
        }
        .tile02 {
            width: 235px;
            padding-right: 60px;
        }
        .tile03 {
            width: 350px;
            padding-right: 60px;
        }
        .tile04 {
            width: 224px;
            padding-right: 0px;
        }
    }
    .news-slider-box {
        .sl-wrap {
            padding: 0 48px;
        }
        .slider-wrap {
            margin: 0 -48px;
        }
        .ico-arrow {
            right: 48px;
        }
    }
}
@media (min-width: 1200px) and (max-width: 1239px) {
    .main-slider-box {
        .btn-action-more {
            &.more-main {
                .button-inner {
                    padding-left: 16px;
                }
            }
        }
        .slick-dots {
            padding-left: 16px;
        }
    }
}
@media (min-width: 1440px) {
    .page-menu-box {
        width: auto;
        max-width: inherit;
    }
}