/* ----------------------------------- *\
			forms elements styles
\* ----------------------------------- */
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="url"] {
    display: block;
    width: 100%;
    outline: none;
    font-family: 'Roboto', sans-serif;
    -webkit-appearance: none;
}
textarea {
	height: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
    overflow: auto;
    resize: none;
}
select::-ms-clear,
input[type="text"]::-ms-clear,
input[type="password"]::-ms-clear,
input[type="color"]::-ms-clear,
input[type="date"]::-ms-clear,
input[type="datetime"]::-ms-clear,
input[type="datetime-local"]::-ms-clear,
input[type="email"]::-ms-clear,
input[type="month"]::-ms-clear,
input[type="number"]::-ms-clear,
input[type="range"]::-ms-clear,
input[type="search"]::-ms-clear,
input[type="tel"]::-ms-clear,
input[type="time"]::-ms-clear,
input[type="url"]::-ms-clear,
input[type="week"]::-ms-clear,
textarea::-ms-clear {
    display: none;
}
.btn,
button,
input[type="submit"] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    -webkit-appearance: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    text-decoration: none;
}
.btn-action-ico {
	min-width: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	display: block;
	position: relative;
	overflow: hidden;
	width: 40px;height: 40px;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	transition: all ease 0.2s;
    &:not(.btn) {
        background: none;
        border: none;
        box-shadow: none;
    }
    &.btn {
        min-width: 0;
        min-height: 0;
        padding: 0;
        display: block;
    }
	&:before, &:after, .i, img {
		display: block;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		transition: all ease 0.2s;
	}
	&:before, &:after {
		content: "";
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto auto;
	}
	&:hover {
		text-decoration: none;
		&:not(.btn) {
            background: none;
            box-shadow: none;
        }
	}
    &.ico-menu {
        &:before {
            background-image: url(../img/icons/menu.svg);
            background-size: 24px auto;
        }
    }
    &.ico-close {
        &:before {
            background-image: url(../img/icons/cross.svg);
            background-size: 24px auto;
        }
    }
    &.ico-search {
        &:before {
            background-image: url(../img/icons/search.svg);
            background-size: 18px auto;
        }
    }
    &.ico-view {
        &:before {
            background-image: url(../img/icons/eye.svg);
            background-size: 18px auto;
        }
    }
    &.ico-user {
        &:before {
            background-image: url(../img/icons/user.svg);
            background-size: 18px auto;
        }
    }
    &.ico-arrow {
        border-radius: 2px;
        background: #EEF2FA;
        z-index: 20;
        cursor: pointer;
        &:hover {
            background: #EEF2FA - #111;
        }
        &:before {
            background-image: url(../img/icons/arrow01.svg);
            background-size: 18px auto;
        }
    }
    &.ico-arrow-prev {
        &:before {
            .t-rotate(180deg);
        }
    }
    &.button-soc {
        img, svg {
            max-width: 18px;
            max-height: 18px;
        }
    }
}
.btn-action-more {
    font-size: 16px;
    line-height: 20px;
    padding: 0 18px 0 0;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        top: 10px;
        right: 0;
        margin-top: -4px;
        background: url(../img/icons/arrow02.svg) center no-repeat;
        background-size: 100% auto;
    }
}
.btn-action-text {
    font-size: 12px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    padding: 0 0 0 28px;
    .button-ico {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 0;
        left: 0;
    }
}
.frm-row,
.frm-field,
.frm-row-submit {
    display: flex;
    flex-wrap: wrap;
	position: relative;
	line-height: 1;
}
.frm-select {
	position: relative;
	display: block;
	overflow: hidden;
    line-height: 1;
	input {
		display: block;
		position: absolute;
		top: 0;left: 0;
		width: 0;height: 0;
		opacity: 0;
		margin: 0;
		padding: 0;
	}
	label {
		display: block;
		position: relative;
		cursor: pointer;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
        }
	}
}
.frm-main-search {
    display: block;
    position: relative;
    line-height: 1;
    .form-input {
        height: 43px;
        border: none;
        border-radius: 2px;
        box-shadow: none;
        background: #515663;
        padding: 0 50px 0 16px;
        font-size: 14px;
        color: #fff;
    }
    .btn-action-ico {
        &.ico-search {
            width: 43px;
            height: 43px;
            position: absolute;
            top: 0;
            right: 5px;
            z-index: 2;
            &:before {
                filter: brightness(0) invert(1);   
            }
        }
    }
    [placeholder]::-webkit-input-placeholder {color: #fff;}
    [placeholder]:-moz-placeholder {color: #fff;}
    [placeholder]::-moz-placeholder {color: #fff;}
    [placeholder]:-ms-input-placeholder {color: #fff;}
}
.slick-dots {
    display: block;
    position: relative;
    line-height: 1;
    text-align: center;
    font-size: 0;
    margin: 0;
    li {
        margin: 0 13px;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        &:before {
            display: none;
        }
        button {
            background: none;
            border: none;
            min-width: 0;
            padding: 0;
            box-shadow: none;
            font-size: 0;
            width: 22px;
            height: 22px;
            border: none;
            &:hover, &.active {
                background: none;
                &:after {
                    opacity: 1;
                }
                &:before {
                    background: #387BB6;
                }
            }
            &:before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                border-radius: 50%;
                background: #387BB6;
                transition: background ease 0.2s;
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border: 1px solid #387BB6;
                border-radius: 50%;
                opacity: 0;
                transition: opacity ease 0.2s;
            }
        }
    }
    .slick-active {
        button {
            &:after {
                opacity: 1;
            }
            &:before {
                background: #387BB6;
            }
        }
    }
}