
<!-- footer -->
<footer class="footer">
	<div class="footer-main-panel">
		<div class="container">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo-light.svg" alt="">
				</a>
			</div>
			<div class="menu-wrap">
				<ul class="menu-list">
					<li><a href="">Президент РФ</a></li>
					<li><a href="">Правительство РФ</a></li>
					<li><a href="">Совет федерации РФ</a></li>
					<li><a href="">Государственная дума РФ</a></li>
					<li><a href="">Открытое правительство</a></li>
					<li><a href="">Портал государственных услуг</a></li>
					<li><a href="">Общественная палата</a></li>
				</ul>
				<ul class="menu-list">
					<li><a href="">О министерстве</a></li>
					<li><a href="">Деятельность</a></li>
					<li><a href="">Пресс-центр</a></li>
					<li><a href="">Документы</a></li>
					<li><a href="">Гражданам</a></li>
					<li><a href="">Специалисты</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Карта сайта</a></li>
				</ul>
			</div>
			<div class="search-wrap">
				<form action="/" class="frm-main-search">
					<input type="text" class="form-input" placeholder="Поиск">
					<button type="submit" class="btn-action-ico ico-search"></button>
				</form>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tw.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-ok.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-inst.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="footer-bottom-panel">
		<div class="container">
			<div class="copy-wrap">© 2014-2021 Министерство строительства и жилищно-коммунального хозяйства Российской Федерации</div>
			<div class="menu-wrap">
				<ul>
					<li><a href="">О сайте</a></li>
					<li><a href="">Информационная система</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->